<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="page">
        <h1>Whatsgram! Posts</h1>
        <div class="main">
            <% for( post of posts ) { %>
                <div class="container">
                    <h2 class="user">@<%= post.username %>
                    </h2>
                    <h3 class="cont">
                        <%= post.content %>
                    </h3>
                    <hr>
                    <div class="anc">
                        <a href="http://localhost:8080/posts/<%=post.id %>">Check Your Complete Post</a>
                    </div>
                    <div class="anc">
                        <a href="http://localhost:8080/posts/<%=post.id %>/edit">Edit your Post</a>
                    </div>
                </div>
                <form method="post" action="posts/<%=post.id %>?_method=DELETE">]
                    <button class="btn3">Delete Post</button>
                </form>
                <% } %>

        </div>
        <div class="anch">
            <a href="http://localhost:8080/posts/new">Create New Post</a>
        </div>
    </div>
</body>

</html>